<div class="d-flex">
    <div class="header-logo-container d-flex">
        <div>
            <svg-icon class="vertical-centering" src="assets/logo.svg"></svg-icon>
        </div>
        <div class="sites-dropdown position-relative" (click)="stateSites = stateSites === 'hide' ? 'show' : 'hide';">
          <div class="vertical-centering"> {{selectedSite}} </div>
          <ul [@appear]='stateSites' role="menu" class="list-group header-dropdown-menu center">
              <li *ngFor='let site of sites' role="menuitem" class="list-group-item" (click)="selectSite(site)"> {{site}}</li>
            </ul>
        </div>
    </div>
    <div *ngIf="!user.isEmpty()" class="header-actions-container d-flex">
        <!--<div>
            <nb-search role="button" type="rotate-layout" tag="rotate-layout"></nb-search>
        </div>-->

        <div class="position-relative">
          <div class="header-user-action d-flex vertical-centering" (click)="notificationState = notificationState === 'hide' ? 'show' : 'hide'; notificationDismissed=true">
            <svg-icon class="notification-icon" [src]="notifications.length==0 || notificationDismissed?'assets/bell.svg':'assets/bell-notification.svg'"></svg-icon>
          </div>
          <ul [@appear]='notificationState' role="menu" class="header-dropdown-menu list-group center">
            <li role="menuitem" class="list-group-item">Account</li>
            <li role="menuitem" class="list-group-item">Plan</li>
          </ul>
        </div>

        <div class="position-relative">
            <div class="header-user-action d-flex vertical-centering" (click)="state = state === 'hide' ? 'show' : 'hide';">
              <svg-icon class="user-icon" src="assets/icon-user.svg"></svg-icon>
              <!--<div class="user-name">
                  <div>{{user.name}}</div>
                  <div>{{user.surname}}</div>
              </div>
              <i class="material-icons">&#xE7FF;</i>-->
            </div>
            <ul [@appear]='state' role="menu" class="header-dropdown-menu list-group center">
                <li role="menuitem" class="list-group-item">Account</li>
                <li role="menuitem" class="list-group-item">Plan</li>
                <li *ngIf="!user.isAdmin()" role="menuitem" (click)="wizardClick()" class="list-group-item">Wizard</li>
                <li role="menuitem" (click)="logoutClick()" class="list-group-item">Logout</li>
            </ul>
        </div>

        <div *ngIf="!user.isAdmin()" class="position-relative">

            <div  class="header-user-action vertical-centering">
              <svg-icon src="assets/dashboard.svg" routerLink="/home" style="outline: none;"></svg-icon>
            </div>

          <!--<button class="btn ittweb-btn small header-btn vertical-centering" (click)="wizardClick()"> START A WIZARD </button>-->
        </div>
      </div>
</div>
