<div class="d-flex">
    <div class="header-logo-container d-flex">
        <div>
            <div class="vertical-centering header-logo"></div>
        </div>
        <div *ngIf="isDashboardView" class="sites-dropdown position-relative" [ngClass]="stateSites === 'hide' ? '' : 'selected'" (click)="stateSites = stateSites === 'hide' ? 'show' : 'hide';">
          <div class="vertical-centering"> {{selectedSite}} </div>
          <ul [@appear]='stateSites' role="menu" class="list-group header-dropdown-menu center">
              <li *ngFor='let site of sites | onlyCompleted' role="menuitem" class="list-group-item" (click)="selectSite(site.name)"> {{site.name}}</li>
            </ul>
        </div>
        <div style="height: 75px;">
          <button *ngIf="isDashboardView" class="btn ittweb-negative-btn small vertical-centering" > Preview </button>
        </div>
    </div>
    <div *ngIf="user && !user.isEmpty()" class="header-actions-container d-flex">
        <!--<div>
            <nb-search role="button" type="rotate-layout" tag="rotate-layout"></nb-search>
        </div>-->

        <div class="position-relative">
          <div [ngClass]="notifications.length==0 || notificationDismissed? 'notification-icon' : 'notification-icon-notification'" class="header-user-action notification-icon d-flex vertical-centering" (click)="notificationState = notificationState === 'hide' ? 'show' : 'hide'; notificationDismissed=true">
            <!--<svg-icon class="notification-icon" [src]="notifications.length==0 || notificationDismissed?'assets/bell.svg':'assets/bell-notification.svg'"></svg-icon>-->
          </div>
          <ul [@appear]='notificationState' role="menu" class="header-dropdown-menu list-group center">
            <li role="menuitem" class="list-group-item"><div>Account</div></li>
            <li role="menuitem" class="list-group-item"><div>Plan</div></li>
          </ul>
        </div>

        <div class="position-relative">
            <div class="header-user-action user-icon d-flex vertical-centering" (click)="state = state === 'hide' ? 'show' : 'hide';">
              <!--<div class="user-name">
                  <div>{{user.name}}</div>
                  <div>{{user.surname}}</div>
              </div>
              <i class="material-icons">&#xE7FF;</i>-->
            </div>
            <ul [@appear]='state' role="menu" class="header-dropdown-menu list-group center">
                <li role="menuitem" class="list-group-item"><div>Account</div></li>
                <li role="menuitem" class="list-group-item" routerLink="/change-plan"><div>Plan</div></li>
                <!--<li *ngIf="!user.isAdmin()" role="menuitem" (click)="wizardClick()" class="list-group-item">Wizard</li>-->
                <li role="menuitem" (click)="logoutClick()" class="list-group-item"><div>Logout</div></li>
            </ul>
        </div>

        <div *ngIf="!user.isAdmin()" class="position-relative">
          <div *ngIf="checkAtLeastOneCompletedSite"  class="header-user-action dashboard-icon vertical-centering" routerLink="/home">
          </div>
        </div>
        <div class="position-relative" style="height: 75px;">
          <button class="btn ittweb-btn vertical-centering" (click)="wizardClick()" [disabled]="checkAllCompletedSite" > START A WIZARD </button>
          <button class="btn ittweb-negative-btn vertical-centering" > SUPPORT </button>
        </div>
      </div>
</div>
