.logo{
    cursor: pointer;
}

ittweb-header {
    width: 100%;
}

.nb-search:before {
    content: "\E946";
}

.nb-search{
    font-family: nebular;
}

.header-actions-container{
    margin-left: auto;
}

.user-dropdown-menu{
    position: absolute;
}

.user-icon{
    width: 30px;
    height: 30px;
}

.header-user-action:hover g,div{
    stroke:#306ccc;
}

.dashboard-icon:hover g{
    stroke:#306ccc;
}

.header-user-action:hover>div{
    color:#306ccc;
}