<div class="d-flex">
  <div class="page-sub-title col-6"> Currency
    <nb-card>
      <nb-card-body>
        <div class="d-flex">
          <select [(ngModel)]="currency" class="wizard-dropdown col-3 form-control">
            <option *ngFor="let currency of currencies"> {{currency}} </option>
          </select>
          <mat-radio-group [(ngModel)]="separator">
            <mat-radio-button name="separator" value="Dot"> Dot </mat-radio-button>
            <mat-radio-button name="separator" value="Comma"> Comma </mat-radio-button>
          </mat-radio-group>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="page-sub-title col-6"> Placeholder to show if price not provided in the feed
    <nb-card>
      <nb-card-body>
        <input type="text" placeholder="Placeholder text" [(ngModel)]="placeholder" class="form-control">
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="d-flex">
  <div class="page-sub-title col-6"> Engage Search
    <nb-card>
      <nb-card-body>
          <table class="table">
            <tbody>
                <tr *ngFor="let engageSearch of engageSearchs">
                  <td colspan="3">
                    <div class="page-sub-title"> {{engageSearch.title}} </div>
                    <div> {{engageSearch.description}} </div>
                  </td>
                  <td> <button class="btn ittweb-btn small" (click)='removeSearch(engageSearch)'> Delete</button></td>
                  <td> <button class="btn ittweb-btn small" (click)='editSearch(engageSearch)'> Edit</button></td>
                  <td> <button class="btn ittweb-btn small"> Preview</button></td>
                </tr>
            </tbody>
          </table>
      </nb-card-body>
      <nb-card-footer>
          <button class="btn ittweb-btn small" (click)="addSearch()"> ADD </button>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="page-sub-title col-6"> JS Layer show mode
    <nb-card>
      <nb-card-body>
          <select [(ngModel)]="showMode" class="wizard-dropdown col-3 form-control">
              <option *ngFor="let showMode of showModes"> {{showMode}} </option>
          </select>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="d-flex">
  <div class="page-sub-title col-6"> Weight
    <nb-card>
      <nb-card-body>
        <table class="table">
          <thead>
            <th> FIELD</th>
            <th colspan="10"> WEIGHT</th>
          </thead>
          <tbody>
            <tr *ngFor="let weight of weights">
              <td> {{weight.title}}</td>
              <td colspan="10">
                <!--  <input type="range" class="progress" [(ngModel)]="weight.value" max="10">-->
                <mat-slider max=10 min=0 step=1 thumb-label=true [(ngModel)]="weight.value"></mat-slider>
              </td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="page-sub-title col-6"> Remove IP
    <nb-card>
      <nb-card-body>
          <table class="table">
              <tbody>
              <tr *ngFor="let ip of ips">
                <td colspan="12"> <div [ngClass]="ip.editable?'form-control':''" [contentEditable]="ip.editable">{{ip.word}}</div></td>
                <td> <button class="btn ittweb-btn small" (click)="removeIp(ip)">REMOVE</button> </td>
                <td> <button class="btn ittweb-btn small" (click)="ip.editable=!ip.editable">{{ip.editable?'OK':'EDIT'}}</button> </td>
              </tr>
              </tbody>
            </table>
      </nb-card-body>
      <nb-card-footer>
        <button class="btn ittweb-btn small" (click)=addWord()>ADD</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
