<div class="page-sub-title mt-5" *ngIf=" time > 0" [@appear]="state" (@appear.start)="startAnimation()" (@appear.done)="endAnimation()"> KPIs
  <nb-card>
    <nb-card-body class="half">
      <mat-select [(value)]="timeRangeKpis" class="wizard-dropdown col-3 form-control-sm">
        <mat-option *ngFor="let timeRange of timeRanges" [value]="timeRange"> {{timeRange}}</mat-option>
      </mat-select>
      <div *ngFor="let j of [0,1]" class="d-flex col-12">
        <div *ngFor="let i of [0,1,2]" class="col-3 kpis-data">
          <div class="title vertical-centering-absolute"> {{data[timeRangeKpis][3*j+i].title}}</div>
          <div countUp class="value vertical-centering-absolute text-right" [endVal]="data[timeRangeKpis][3*j+i].value" duration=1> 0 </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
<div class="d-flex" *ngIf=" time > 1" [@appear]="state" (@appear.start)="startAnimation()" (@appear.done)="endAnimation()">
  <div class="page-sub-title col-6"> Top 10 searches
    <nb-card>
      <nb-card-body class="tables half">
        <mat-select [(value)]="timeRangeSearches" class="wizard-dropdown col-3 form-control-sm">
          <mat-option *ngFor="let timeRange of timeRanges" [value]="timeRange"> {{timeRange}}</mat-option>
        </mat-select>
        <app-table-view [data]="searchesData" [timeRange]="timeRangeSearches"></app-table-view>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="page-sub-title col-6"> Top 10 most clicked products
    <nb-card>
      <nb-card-body class="tables half">
        <mat-select [(value)]="timeRangeClicked" class="wizard-dropdown col-3 form-control-sm">
          <mat-option *ngFor="let timeRange of timeRanges" [value]="timeRange" > {{timeRange}} </mat-option>
        </mat-select>
        <app-table-view [data]="clickedData" [timeRange]="timeRangeClicked"></app-table-view>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<!-- </div> -->
