<ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand" let-onCheckedChange="onCheckedChange">
  <div class="form-check" [style.border-top]="item.children?'solid 1px #dddddd':''">
      <label class="form-check-label">
        <mat-checkbox class="form-check-input" [ngClass]="categoryExclude?'exclude':''" [(ngModel)]="item.checked" (ngModelChange)="onCheckedChange()" disabled
                [indeterminate]="item.indeterminate" > {{item.text}}
        </mat-checkbox>
      </label>
      <label *ngIf="item.children" class="form-check-label float-right" (click)="onArrowClicked(item)">
          <label style="font-size:14px;"> {{item.children.length}} SUB-CATEGORIES</label>
          <svg-icon [src]="!item.collapsed?'assets/icon-arrow-up.svg':'assets/icon-arrow-down.svg'"></svg-icon>
      </label>
  </div>
</ng-template>

<div class="wizard-container" [@slide]='state' (@slide.done)="navigate($event)">
    <div class="page-title col-12 text-center mt-3 mb-3">
        Check your setup and click finish
    </div>
    <div class="d-flex">
      <div class="page-sub-title col-6">
        Category
        <nb-card>
            <nb-card-body>
                <ngx-treeview [config]="config" [itemTemplate]="itemTemplate" [items]="categories"></ngx-treeview>
            </nb-card-body>
        </nb-card>
      </div>
      <div class="page-sub-title col-6">
        Facets
        <nb-card>
          <nb-card-body>
            <table class="table table-list">
              <thead>
                <tr>
                  <td style="width: 20%;">FIELD</td>
                  <td style="width: 30%;">TYPE</td>
                  <td>LABEL</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let facet of facets | onlyChecked">
                  <td> {{facet.value}} </td>
                  <td>
                    <input [ngModel]="facet.type" class="form-control small" type="text" disabled>
                  </td>
                  <td>
                    <div class="d-flex">
                        <input [ngModel]="facet.label" class="form-control input-sm small" type="text" disabled>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </nb-card-body>
          <nb-card-footer>
            <div class="vertical-centering">
            {{facetsUnselectedDynamic?'Unselected are dynamic':'Unselected are NOT dynamic'}}
            </div>
          </nb-card-footer>
        </nb-card>
      </div>
    </div>
    <div class="d-flex">
      <div class="page-sub-title col-6">
        Query
        <nb-card>
          <nb-card-body class="half">
            <table class="table table-list">
              <tbody>
                <tr *ngFor="let query of queries | onlyChecked">
                  <td>
                    {{ query.value }}
                  </td>
                </tr>
              </tbody>
            </table>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="page-sub-title col-6">
        Back results
        <nb-card>
            <nb-card-body class="half">
              <table class="table table-list">
                <tbody>
                  <tr *ngFor="let field of backResults | onlyChecked">
                    <td>
                      {{ field.value }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div>
        <!--<button role="button" class="btn ittweb-back-btn" (click)="slideOutRight()">BACK</button>-->
        <button role="button" class="btn ittweb-btn center col-6 small mb-5" (click)="slideOutLeft()">FINISH</button>
    </div>
</div>
