<nb-card *ngIf=" time > 0" [@appear]="state" (@appear.start)="startAnimation()" (@appear.done)="endAnimation()">
  <nb-card-body class="half">
    <table class="table">
      <thead>
      <tr>
        <th>WORD</th>
        <th style="width: 70%;">SYNONIMOUS</th>
        <th><button class="btn ittweb-btn small" (click)="addWord()">+Add Word</button></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let word of words">
        <td> <mat-checkbox [(ngModel)]="word.selected"> {{word.word}} </mat-checkbox></td>
        <td>
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let synonym of word.synonyms" [selectable]="selectable"
                      [removable]="removable" (remove)="remove(word,synonym)">
              {{synonym}}
              <i class="material-icons" matChipRemove *ngIf="removable">cancel</i>
            </mat-chip>
          </mat-chip-list>
          <div *ngIf="word.synonyms.length==0">
            This word is not connected with any synonimous
          </div>
        </td>
        <td>
          <input placeholder="+ Synonimous"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add(word,$event)"
          class="form-control small" />
        </td>
      </tr>
      </tbody>
    </table>
  </nb-card-body>
  <nb-card-footer>
    <div class="vertical-centering">
      <button class="btn ittweb-btn small" (click)="selectAll()">SELECT ALL</button>
      <button class="btn ittweb-negative-btn small" (click)="deselectAll()">DESELECT ALL</button>
      <button class="btn ittweb-delete-btn small float-right" (click)="removeWords()">REMOVE SELECTED</button>
    </div>
  </nb-card-footer>
</nb-card>
