<nb-card>
  <nb-card-body>
    <table class="table">
      <thead>
      <tr>
        <th>WORD</th>
        <th colspan="10">SYNONIMOUS</th>
        <th><button class="btn ittweb-btn small" (click)="addWord()">+Add Word</button></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let word of words">
        <td> <mat-checkbox [(ngModel)]="word.selected"> {{word.word}} </mat-checkbox></td>
        <td colspan="10">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let synonym of word.synonyms" [selectable]="selectable"
                      [removable]="removable" (remove)="remove(word,synonym)">
              {{synonym}}
              <i class="material-icons" matChipRemove *ngIf="removable">cancel</i>
            </mat-chip>
          </mat-chip-list>
        </td>
        <td>
          <input placeholder="Add Synonimous... (press ENTER to insert)"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add(word,$event)"
          class="form-control" />
        </td>
      </tr>
      </tbody>
    </table>
  </nb-card-body>
  <nb-card-footer>
    <button class="btn ittweb-btn small" (click)="selectAll()">SELECT ALL</button>
    <button class="btn ittweb-btn small" (click)="deselectAll()">DESELECT ALL</button>
    <button class="btn ittweb-btn small" (click)="removeWords()">REMOVE SELECTED</button>
  </nb-card-footer>
</nb-card>
