<!--<ngx-sample-layout>-->
  <nb-layout class="window-mode with-scroll">
      <nb-layout-header class="d-flex justify-content-center" >
          <notification-host></notification-host>
          <ngx-loading-bar></ngx-loading-bar>
          <ittweb-header> </ittweb-header>
      </nb-layout-header>

      <nb-layout-column class="main-container">
          <!--<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>-->
          <router-outlet>

          </router-outlet>
      </nb-layout-column>
  </nb-layout>
<!--</ngx-sample-layout>-->
