@import '../styles.scss';

nav{
    width: 100%;
    padding: 0;
    z-index: 1;
    position: fixed;
    border-radius: 0;
}

.avoid-clicks {
    pointer-events: none;
}

.tab-disabled{
  opacity: .7;
}

// .ittweb-tabset .active{
//   opacity: 1 !important;
// }

.go-to-login{
  cursor: pointer;
  font-weight: 700;
  color: $color-primary-blue;
}

nb-route-tabset ul{
  padding: 0 !important;
}

.layout-container{
  margin-top:80px;
}

nb-layout-header, nb-layout-column{
    background-color: $color-light-gray;
}

.center{
    left:50% !important;
    position: absolute !important;
    transform: translateX(-50%) !important;
}

.center-relative{
    left:50% !important;
    position: relative !important;
    transform: translateX(-50%) !important;
}

.ittweb-container{
    left:50% !important;
    position: absolute !important;
    transform: translateX(-50%) !important;
}

.ittweb-tabset{
    left:50% !important;
    position: absolute !important;
    transform: translateX(-50%) !important;
}

.ittweb-tabset > ul li a::before {
    background: $color-primary-blue !important;
}

.ittweb-tabset > ul li a{
    @include Title-2();
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.ittweb-tabset > ul li.active a {
  font-weight: 800 !important;
}

.form-control-sm {
  font-size: 17px;
  font-weight: 600;
}

.ittweb-tabset > ul li{
    padding-right: 5%;
    outline: none;
}

.ittweb-tabset > ul li a::before{
    height: 2px !important;
}

.ittweb-btn{
  @include button($color-primary-blue);
}

.ittweb-btn.warn{
  @include button($color-alert-red);
}

.ittweb-btn.warn:hover{
  background-color: $color-alert-red !important;
  opacity: 0.9;
}

.ittweb-negative-btn.warn:hover{
  color: $color-alert-red !important;
  border-color: $color-alert-red !important;
  opacity: 0.9;
}

.ittweb-negative-btn{
  @include button(white);
  border: solid $color-primary-blue 2px !important;
  color: $color-primary-blue !important;
}

.ittweb-negative-btn.warn{
  color: $color-alert-red !important;
  border-color: $color-alert-red !important;
}

.ittweb-black-btn{
  @include button(white);
  border: none;
  color: $color-darkest-gray !important;
}

.ittweb-delete-btn{
  @include button(white);
  border: none;
  color: $color-alert-red !important;
}

.ittweb-btn:hover{
  background-color: $color-secondary-blue !important;
}

.ittweb-negative-btn:hover{
  color: $color-secondary-blue !important;
  border: solid $color-secondary-blue 2px !important;
}

.ittweb-back-btn{
  @include button($color-secondary-dark-blue);
}

.btn{
  min-width: 130px;
  padding: 0.5rem 0 !important;
  font-size: 0.675rem !important;
}

.btn.small{
  padding: 0.2rem 0.5rem !important;
  font-size: 0.5rem !important;
  min-width: 100px;
  text-transform: none;
}

.btn.smaller{
  padding: 0.2rem 0 !important;
  font-size: 0.5rem !important;
  min-width: 50px;
  text-transform: none;
}

.next{
    float:right;
}

.page-sub-title{
    color: black;
    font-weight: 600;
    margin-bottom: 3%;
}

.page-title{
    @include Subheader-2();
}

mat-chip{
    border-style: solid;
    border-width: 1px;
    color:$color-secondary-blue;
    border-color: $color-secondary-blue;
    padding: 4px !important;
}

mat-slider{
    width: 100%;
}

.editable {
    border:$color-dark-gray 1px solid;
}
nb-card{
  margin-top: 20px !important;
}

nb-card-body {
  // max-height: 500px;
  height: 500px;
}

nb-card-body.third{
  // max-height: 500px;
  height: 96px;
}

nb-card-body.half{
  // max-height: 500px;
  height: 310px;
}

nb-card-body.tables {
  max-height: 500px;
}

nb-card-body.map-chart {
  height: 600px;
}

nb-card-footer{
  height: 40px;
}

nb-card ul{
  padding-left: 0px !important;
}

.form-control:focus{
  border: 2px solid $color-secondary-blue !important;
}

.custom-control.custom-control-indicator:hover{
  border-color: $color-secondary-blue !important;
}

.cdk-visually-hidden{
  display:none;
}

.form-check-input{
  position: relative !important;
}

.mat-radio-disabled .mat-radio-label{
  opacity: 0.7;
}

.vertical-centering{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.vertical-centering-absolute{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.close{
  cursor: pointer;
}

.danger{
  border: 3px solid $color-alert-red;
}

.kpis-data{
  height: 80px;
  background-color: $color-kpis-gray;
  margin: 1.25rem 2.5rem 0;
}

.kpis-data>.title{
  @include Subheader-1();
  max-width: 150px;
  vertical-align: middle;
}

.kpis-data>.value{
  @include Headline-1();
  width: 80%;
  vertical-align: middle;
}

.scrollable-container{
  background-color: $color-light-gray;
}

.avatar{
    border-radius: 50%;
    height: 150px;
}

.mat-checkbox-disabled .mat-checkbox-frame{
  border: none !important;
}

.mat-checkbox-disabled .mat-checkbox-background{
  background: white !important;
}

.mat-checkbox-disabled .mat-checkbox-checkmark-path{
  stroke: $color-primary-blue !important;
}

.mat-checkbox-disabled .mat-checkbox-mixedmark{
  background: $color-primary-blue !important;
}

.mat-checkbox-disabled.exclude .mat-checkbox-checkmark-path{
  stroke: white !important;
}

.mat-checkbox-checked.exclude .mat-checkbox-mixedmark{
  height: 0px;
}

.mat-checkbox.exclude .mat-checkbox-checkmark-path {
  stroke-width: 0px !important;
}

.mat-checkbox.mat-checkbox-checked.exclude .mat-checkbox-background{
  background: url(../assets/icon_close.svg) right / 20px no-repeat #fff !important;
}

.mat-checkbox-indeterminate.exclude .mat-checkbox-background{
  background-color: $color-alert-red !important;
}

.mat-checkbox-indeterminate.mat-checkbox-disabled.exclude .mat-checkbox-background{
  background-color: white !important;
}

.mat-checkbox-indeterminate.mat-checkbox-disabled.exclude .mat-checkbox-mixedmark{
  background-color: $color-alert-red !important;
}

.mat-checkbox.mat-checkbox-checked.exclude.mat-checkbox-disabled .mat-checkbox-label{
  font-weight: 100 !important;
  color: gray !important;
}

.mat-checkbox.exclude.mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-label{
  font-weight: 600 !important;
  color: $color-darkest-gray !important;
}

.square{
  height: 15px;
  width: 15px;
}

.edit-form{
  border: 2px solid #4f8fed !important
}

.table thead th{
  border-bottom: solid 2px $color-gray;
}

.table th{
  border-top: none;
  vertical-align: middle;
}

.table td{
  vertical-align: middle;
  padding: 0.2rem;
}

.table-list td{
  border-bottom: solid 1px $color-gray;
  border-top: none;
  @include Body-1();
}

.table-list td > div > input.small{
  width: 150px;
}

input.form-control.small, .treeview-header input.form-control, div.form-control.small{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
	padding-bottom: 0;
	height: 25px;
}

ngx-treeview-item .form-check:not(.form-check){
  border-bottom: solid 1px $color-gray;
}

.mat-checkbox-indeterminate .mat-checkbox-label,.mat-checkbox-checked .mat-checkbox-label,.mat-radio-checked .mat-radio-label{
  font-weight: 600;
  color: $color-darkest-gray !important;
}

.modal-dialog{
  max-width: 600px;
}

.mat-checkbox-inner-container{
  height: 16px !important;
  width: 16px !important;
}

.mat-checkbox-label{
  @include Body-1();
}

.Oval {
  width: 13px;
  height: 13px;
  background-color: #306ccc;
  border: solid 2px #306ccc;
  border-radius: 13px;
  color: white;
  font-size: 10px;
  font-weight: 500;
  cursor: pointer;
}

.Oval>span{
  position: absolute;
  margin-top: -2px;
  margin-left: -2px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../assets/icon-arrow-drop-down.svg) right / 20px no-repeat #fff;
  padding-right: 20px;
}

mat-checkbox mat-radio-group .mat-radio-container{
  display:none;
}

.weight-slider{
  width: 85%;
  margin-left: 30px;
  margin-top: 4px;
}

notification-host>div{
  z-index: 1050 !important;
}

notification-host div.item.warn{
  background-color: $color-alert-red !important;
  opacity: 0.7;
}

notification-host div.item{
  background-color: $color-secondary-blue !important;
  opacity: 0.7;
}

body{
  background-color: $color-light-gray;
}

.slider-container .slider .bg, .slider-container .slider .fill{
  height: 10px !important;
}

.slider-container .slider .pointer{
  height: 15px !important;
  width: 15px !important;
}

.mat-select-content{
  background-color: white;
}

mat-select.form-control-sm{
  border: solid 1px black;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  color: black;
}

.mat-option{
  border-bottom: solid 1px $color-light-gray;
  padding: 25px;
  margin: 0px 10px;
}

.mat-option:hover,.mat-option.mat-selected {
  color: white !important;
  background: $color-primary-blue !important;
}

.cdk-overlay-container{
  z-index: 1051 !important;
}
