<ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand" let-onCheckedChange="onCheckedChange">
  <div class="form-check" [style.border-top]="item.children?'solid 1px #dddddd':''">
      <label class="form-check-label">
        <mat-checkbox class="form-check-input" [ngClass]="categoryExclude?'exclude':''" [(ngModel)]="item.checked" (ngModelChange)="onCheckedChange()"
                [indeterminate]="item.indeterminate" > {{item.text}}
        </mat-checkbox>
      </label>
      <label *ngIf="item.children" class="form-check-label float-right" (click)="onArrowClicked(item)">
          <label style="font-size:14px;"> {{item.children.length}} SUB-CATEGORIES</label>
          <svg-icon [src]="!item.collapsed?'assets/icon-arrow-up.svg':'assets/icon-arrow-down.svg'"></svg-icon>
      </label>
  </div>
</ng-template>

<div class="wizard-container" [@slide]='state' (@slide.done)="navigate($event)">
  <div class="page-title col-12 text-center mt-3 mb-3">
      Define the area of your research
  </div>
  <div class="d-flex">

    <div class="page-sub-title col-6">
      <div class="d-flex">
        Category* <div class="Oval text-center mt-1 ml-2" tooltip="tooltip"> <span>?</span> </div>
      </div>
      <nb-card>
        <nb-card-body>
          <ngx-treeview [config]="config" [itemTemplate]="itemTemplate" [items]="categories"></ngx-treeview>
        </nb-card-body>
        <nb-card-footer>
            <div class="vertical-centering btn ittweb-negative-btn small" [ngClass]="categoryExclude?'warn':''" (click)="onInvertClick()">
              Invert Selection
            </div>
            <mat-slide-toggle
              class="vertical-centering example-margin float-right"
              color="warn"
              [(ngModel)]="categoryExclude">
              EXCLUDE SELECTED
            </mat-slide-toggle>
            <div class="vertical-centering btn ittweb-btn small float-right" [ngClass]="categoryExclude?'warn':''" (click)="onSelectClick()">
              Select All
            </div>
            <div class="vertical-centering btn ittweb-black-btn small float-right" (click)="onDeselectClick()">
              Deselect All
            </div>
        </nb-card-footer>
      </nb-card>
    </div>

    <div class="page-sub-title col-6">
      <div class="d-flex">
        Facets* <div class="Oval text-center mt-1 ml-2" tooltip="tooltip"> <span>?</span> </div>
      </div>
      <nb-card>
        <nb-card-body>
          <table class="table table-list">
            <thead>
              <tr>
                <td style="width: 20%;">FIELD</td>
                <td style="width: 30%;">TYPE</td>
                <td>LABEL</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let facet of facets | onlyChecked">
                <td style="width: 20%;"> {{facet.value}} </td>
                <td style="width: 30%;">
                  <mat-select style="width: 80%;padding-top: 0px;" [(value)]="facet.type" class="wizard-dropdown form-control-sm input-sm">
                    <mat-option *ngFor="let facetType of facetTypes" [value]="facetType">{{facetType}}</mat-option>
                  </mat-select>
                </td>
                <td>
                  <div class="d-flex">
                      <input [(ngModel)]="facet.label" class="form-control input-sm small" type="text">
                  </div>
                  <!--<div *ngIf="facet.type=='slider'" class="d-flex">
                    Min <input class="form-control input-sm small" type="text"> Max <input type="text" class="form-control input-sm small">
                  </div>-->
                </td>
              </tr>
            </tbody>
          </table>
        </nb-card-body>
        <nb-card-footer>
            <mat-slide-toggle
              class="vertical-centering example-margin"
              color="primary"
              [(ngModel)]="facetsUnselectedDynamic">
              Unselected are Dynamic
            </mat-slide-toggle>
          <div class="vertical-centering btn ittweb-btn float-right small" (click)="modalShowFacets()"> SELECT </div>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>
  <div class="d-flex">
    <div class="page-sub-title col-6">
      <div class="d-flex">
        Title* <div class="Oval text-center mt-1 ml-2" tooltip="tooltip"><span>?</span></div>
      </div>
      <nb-card>
        <nb-card-body class="third">
          <table class="table table-list">
            <tbody>
              <tr *ngFor="let title of titles | orderBy: '':false:'case-insensitive':customComparator | onlyChecked">
                <td>
                  {{ title.value }} {{ title.isMain?'Principal':'Secondary'}}
                </td>
              </tr>
            </tbody>
          </table>
        </nb-card-body>
        <nb-card-footer>
          <div class="vertical-centering btn ittweb-btn float-right small" (click)="modalShowQuery('title')"> SELECT </div>
        </nb-card-footer>
      </nb-card>
      <div class="d-flex">
       Query <div class="Oval text-center mt-1 ml-2" tooltip="tooltip"><span>?</span></div>
      </div>
      <nb-card>
        <nb-card-body class="third">
          <table class="table table-list">
            <tbody>
              <tr *ngFor="let query of queries | onlyChecked">
                <td>
                  {{ query.value }}
                </td>
              </tr>
            </tbody>
          </table>
        </nb-card-body>
        <nb-card-footer>
          <div class="vertical-centering btn ittweb-btn float-right small" (click)="modalShowQuery('query')"> SELECT </div>
        </nb-card-footer>
      </nb-card>
      <div class="d-flex">
        Images <div class="Oval text-center mt-1 ml-2" tooltip="tooltip"><span>?</span></div>
      </div>
      <nb-card>
        <nb-card-body class="third">
          <table class="table table-list">
            <tbody>
              <tr *ngFor="let image of images | orderBy: '':false:'case-insensitive':customComparator | onlyChecked">
                <td>
                  {{ image.value }} {{image.isMain?' - MAIN':''}}
                </td>
              </tr>
            </tbody>
          </table>
        </nb-card-body>
        <nb-card-footer>
          <div class="vertical-centering btn ittweb-btn float-right small" (click)="modalShowSku('image')"> SELECT </div>
        </nb-card-footer>
      </nb-card>
    </div>

    <div class="page-sub-title col-6">
      <div class="d-flex">
        SKU* <div class="Oval text-center mt-1 ml-2" tooltip="tooltip"><span>?</span></div>
      </div>
      <nb-card>
        <nb-card-body class="third">
          <table class="table table-list">
            <tbody>
              <tr *ngFor="let sku of skus | orderBy: '':false:'case-insensitive':customComparator | onlyChecked">
                <td>
                    {{ sku.value  }} {{sku.isMain?' - MAIN':''}}
                </td>
              </tr>
            </tbody>
          </table>
        </nb-card-body>
        <nb-card-footer>
          <div class="vertical-centering btn ittweb-btn float-right small" (click)="modalShowSku('sku')"> SELECT </div>
        </nb-card-footer>
      </nb-card>
      <div class="d-flex">
        BOOSTING <div class="Oval text-center mt-1 ml-2" tooltip="tooltip"><span>?</span></div>
      </div>
      <nb-card>
        <nb-card-body class="third">
          <table class="table table-list">
            <tbody>
              <tr *ngFor="let boost of boosting | onlyMain">
                <td>
                  {{ boost.value }}
                </td>
              </tr>
            </tbody>
          </table>
        </nb-card-body>
        <nb-card-footer>
          <div class="vertical-centering btn ittweb-btn float-right small" (click)="modalShowSku('boosting')"> SELECT </div>
        </nb-card-footer>
      </nb-card>
      <div class="d-flex">
        Price <div class="Oval text-center mt-1 ml-2" tooltip="tooltip"><span>?</span></div>
      </div>
      <nb-card>
        <nb-card-body class="third">
          <table class="table table-list">
            <tbody>
              <tr *ngFor="let price of prices | orderBy: '':false:'case-insensitive':customComparator | onlyChecked">
                <td>
                  {{ price.value }} {{ price.isMain?'Principal':'Secondary'}}
                </td>
              </tr>
            </tbody>
          </table>
        </nb-card-body>
        <nb-card-footer>
          <div class="vertical-centering btn ittweb-btn float-right small" (click)="modalShowQuery('price')"> SELECT </div>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>
  <div>
    <!--<button role="button" class="btn ittweb-back-btn" (click)="slideOutRight()">BACK</button>-->
    <button role="button" class="btn ittweb-btn next" (click)="slideOutLeft()" [disabled]="checkSelection()">NEXT</button>
  </div>
</div>
