<div class="modal-header">
  <h4 class="modal-title pull-left"> Ciao </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <nb-card>
    <nb-card-body>

        <div *ngIf="type=='sku'">
            <input [(ngModel)]="searchText" placeholder="sku1234">
            <ul>
                <li *ngFor="let sku of skus | filterOnValue : searchText">
                    <input type="checkbox" [(ngModel)]="sku.checked">
                        <input [(ngModel)]="mainSku" type="radio" [name]="onoffswitch+index" [value]="sku.value" [disabled]="!sku.checked">
                            {{ sku.value }}
                </li>
            </ul>
        </div>

        <div *ngIf="type=='query'">
            <input [(ngModel)]="searchText" placeholder="Name">
            <ul>
                <li *ngFor="let query of queries | filterOnValue : searchText" [value]="query.value" >
                    <input type="checkbox" [(ngModel)]="query.checked">
                    {{ query.value }}
                </li>
            </ul>
        </div>

    </nb-card-body>
  </nb-card>
</div>
<div class="modal-footer">
  <button type="button" class="btn ittweb-btn" (click)="add(type)">Close</button>
</div>