<div class="modal-header">
  <h4 class="modal-title pull-left"> Select </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <nb-card>
    <nb-card-body>

        <div *ngIf="type=='sku' || type=='image'">
            <input [(ngModel)]="searchText" placeholder="sku1234" class="form-control">
            <ul class="list-group">
                <li *ngFor="let sku of modalData | filterOnValue : searchText" class="list-group-item" [ngClass]="!sku.checked && sku.value==mainSku?'danger':''" [tooltip]="!sku.checked && sku.value==mainSku?'You can\'t choose an unselected field as main':''">
                  <mat-checkbox [(ngModel)]="sku.checked">
                    <mat-radio-group [(ngModel)]="mainSku">
                      <mat-radio-button name="sku" [value]="sku.value" [disabled]="!sku.checked">
                          {{ sku.value }} {{mainSku==sku.value?'Main':''}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </mat-checkbox>
                </li>
            </ul>
        </div>

        <div *ngIf="type=='boosting'">
          <input [(ngModel)]="searchText" placeholder="sku1234" class="form-control">
          <ul class="list-group">
              <li *ngFor="let boost of modalData | filterOnValue : searchText" class="list-group-item">
                <mat-radio-group [(ngModel)]="mainSku">
                  <mat-radio-button name="boost" [value]="boost.value" [disabled]="!boost.checked">
                      {{ boost.value }}
                  </mat-radio-button>
                </mat-radio-group>
              </li>
          </ul>
        </div>

        <div *ngIf="type=='query'">
            <input [(ngModel)]="searchText" placeholder="Name" class="form-control">
            <ul class="list-group">
                <li *ngFor="let query of modalData | filterOnValue : searchText" [value]="query.value" class="list-group-item" >
                    <mat-checkbox [(ngModel)]="query.checked">
                      {{ query.value }}
                    </mat-checkbox>
                </li>
            </ul>
        </div>

        <div *ngIf="type=='title' || type=='price'">
          <input [(ngModel)]="searchText" placeholder="Name" class="form-control">
          <ul class="list-group">
            <li *ngFor="let query of modalData | filterOnValue : searchText" [value]="query.value" class="list-group-item" >
              <mat-checkbox [(ngModel)]="query.checked" (change)="onClicked(query)" [disabled]="filteredData.length > 1 && !query.checked">
                {{ query.value }} {{ query.checked && query.isMain?'Principal':''}} {{ query.checked && !query.isMain?'Secondary':''}}
              </mat-checkbox>
            </li>
          </ul>
        </div>

        <div *ngIf="type=='facet'">
          <input [(ngModel)]="searchText" placeholder="Name" class="form-control">
          <ul class="list-group">
              <li *ngFor="let facet of modalData | filterOnValue : searchText" [value]="facet.value" class="list-group-item">
                <mat-checkbox [(ngModel)]="facet.checked">
                  {{ facet.value }}
                </mat-checkbox>
              </li>
          </ul>
      </div>

    </nb-card-body>
  </nb-card>
</div>
<div class="modal-footer">
  <!--<button type="button" class="btn ittweb-btn" (click)="pop.show()"> SELECT </button>-->
  <button type="button" class="btn ittweb-btn" (click)="add(type)" [disabled]="checkMain()"> SELECT </button>
  <button *ngIf="type=='boosting'" type="button" class="btn ittweb-negative-btn" (click)="remove()"> REMOVE BOOSTING </button>
</div>
