<div class="mt-5">
  <div *ngFor="let i of containersNumberArray" class="d-flex col-12">
    <!-- <div *ngIf=" time > i" [@appear]="state" (@appear.start)="startAnimation()" (@appear.done)="endAnimation()"> -->
      <app-user *ngIf="users[i*4] && time > i*4" [@appear]="state" (@appear.start)="startAnimation()" (@appear.done)="endAnimation()" [user]="users[i*4]" class="col-3" ></app-user>
      <app-user *ngIf="users[i*4+1] && time > i*4+1" [@appear]="state" (@appear.start)="startAnimation()" (@appear.done)="endAnimation()" [user]="users[i*4+1]" class="col-3"></app-user>
      <app-user *ngIf="users[i*4+2] && time > i*4+2" [@appear]="state" (@appear.start)="startAnimation()" (@appear.done)="endAnimation()" [user]="users[i*4+2]" class="col-3"></app-user>
      <app-user *ngIf="users[i*4+3] && time > i*4+3" [@appear]="state" (@appear.start)="startAnimation()" (@appear.done)="endAnimation()" [user]="users[i*4+3]" class="col-3"></app-user>
    <!-- </div> -->
  </div>
</div>
