<!-- LINE CHARTS -->

<div class="page-sub-title col-12" *ngIf="time > 0"  [@appear]="state" (@appear.start)="startAnimation()" (@appear.done)="endAnimation()"> Search & Click
  <nb-card >
    <nb-card-header>
      <select class="wizard-dropdown col-3 form-control-sm" [(ngModel)]="timeRangeLineChartSearch">
        <option *ngFor="let timeRange of timeRanges">{{timeRange}}</option>
      </select>
    </nb-card-header>
    <nb-card-body>
        <app-line-chart [lineChartData]=lineChartSearch[timeRangeLineChartSearch]> </app-line-chart>
    </nb-card-body>
  </nb-card>
</div>
<div class="page-sub-title col-12" *ngIf="time > 1" [@appear]="state" (@appear.start)="startAnimation()" (@appear.done)="endAnimation()"> Unique visitors & Average searches per users
  <nb-card>
    <nb-card-header>
      <select class="wizard-dropdown col-3 form-control-sm" [(ngModel)]="timeRangeLineChartVisitors">
        <option *ngFor="let timeRange of timeRanges">{{timeRange}}</option>
      </select>
    </nb-card-header>
    <nb-card-body>
        <app-line-chart [lineChartData]=lineChartVisitors[timeRangeLineChartVisitors]> </app-line-chart>
    </nb-card-body>
  </nb-card>
</div>

<!-- TABLES -->

<div class="d-flex page-sub-title-container" *ngIf="time > 2" [@appear]="state" (@appear.start)="startAnimation()" (@appear.done)="endAnimation()">
  <div class="page-sub-title col-6"> Top 10 most clicked products
    <nb-card>
      <nb-card-body class="tables">
        <select class="wizard-dropdown col-4 form-control-sm" [(ngModel)]="timeRangeClicked">
          <option *ngFor="let timeRange of timeRanges">{{timeRange}}</option>
        </select>
        <app-table-view [data]="clickedData" [timeRange]="timeRangeClicked"></app-table-view>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="page-sub-title col-6"> Top 10 “maybe you are looking for..”
    <nb-card>
      <nb-card-body class="tables">
        <select class="wizard-dropdown col-4 form-control-sm" [(ngModel)]="timeRangeLookingFor">
          <option *ngFor="let timeRange of timeRanges">{{timeRange}}</option>
        </select>
        <app-table-view [data]="lookingForData" [timeRange]="timeRangeLookingFor"></app-table-view>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="d-flex page-sub-title" *ngIf="time > 3" [@appear]="state" (@appear.start)="startAnimation()" (@appear.done)="endAnimation()">
  <div class="page-sub-title col-6"> Top 10 searches with no results
    <nb-card>
      <nb-card-body class="tables">
        <select class="wizard-dropdown col-4 form-control-sm" [(ngModel)]="timeRangeNoResults">
          <option *ngFor="let timeRange of timeRanges">{{timeRange}}</option>
        </select>
        <app-table-view [data]="noResultsdData" [timeRange]="timeRangeNoResults"></app-table-view>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="page-sub-title col-6" > Top 10 searches
    <nb-card>
      <nb-card-body class="tables">
        <select class="wizard-dropdown col-4 form-control-sm" [(ngModel)]="timeRangeSearches">
          <option *ngFor="let timeRange of timeRanges">{{timeRange}}</option>
        </select>
        <app-table-view [data]="SearchesData" [timeRange]="timeRangeSearches"></app-table-view>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="d-flex page-sub-title" *ngIf="time > 4" [@appear]="state" (@appear.start)="startAnimation()" (@appear.done)="endAnimation()">
  <div class="page-sub-title col-6"> Top 10 most clicked products
    <nb-card>
      <nb-card-body class="tables">
        <select class="wizard-dropdown col-4 form-control-sm" [(ngModel)]="timeRangeClicked">
          <option *ngFor="let timeRange of timeRanges">{{timeRange}}</option>
        </select>
        <app-table-view [data]="clickedData" [timeRange]="timeRangeClicked"></app-table-view>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="page-sub-title col-6"> Top 10 “maybe you are looking for..”
    <nb-card>
      <nb-card-body class="tables">
        <select class="wizard-dropdown col-4 form-control-sm" [(ngModel)]="timeRangeLookingFor">
          <option *ngFor="let timeRange of timeRanges">{{timeRange}}</option>
        </select>
        <app-table-view [data]="lookingForData" [timeRange]="timeRangeLookingFor"></app-table-view>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="d-flex page-sub-title" *ngIf="time > 5" [@appear]="state" (@appear.start)="startAnimation()" (@appear.done)="endAnimation()">
  <div class="page-sub-title col-6"> Top 10 conversion per searches
    <nb-card>
      <nb-card-body class="tables">
        <select class="wizard-dropdown col-4 form-control-sm" [(ngModel)]="timeRangeConversion">
          <option *ngFor="let timeRange of timeRanges">{{timeRange}}</option>
        </select>
        <app-table-view [data]="ConversionData" [timeRange]="timeRangeConversion"></app-table-view>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="page-sub-title col-6"> Top 10 average click per row
    <nb-card>
      <nb-card-body class="tables">
        <select class="wizard-dropdown col-4 form-control-sm" [(ngModel)]="timeRangeClickPerRow">
          <option *ngFor="let timeRange of timeRanges">{{timeRange}}</option>
        </select>
        <app-table-view [data]="ClickPerRowData" [timeRange]="timeRangeClickPerRow"></app-table-view>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!-- BAR CHART -->

<div class="page-sub-title col-12" *ngIf="time > 6" [@appear]="state" (@appear.start)="startAnimation()" (@appear.done)="endAnimation()"> Profile percentage of use
  <nb-card>
    <nb-card-header>
      <select class="wizard-dropdown col-3 form-control-sm" [(ngModel)]="timeRangeHorizontalLineChart">
        <option *ngFor="let timeRange of timeRanges">{{timeRange}}</option>
      </select>
    </nb-card-header>
    <nb-card-body>
        <app-bar-chart [data]=UploadedProductsChartData[timeRangeHorizontalLineChart]> </app-bar-chart>
        <app-bar-chart [data]=RequestChartDataData[timeRangeHorizontalLineChart]> </app-bar-chart>
    </nb-card-body>
  </nb-card>
</div>

<!-- LINE CHART -->

<div class="page-sub-title col-12" *ngIf="time > 7" [@appear]="state" (@appear.start)="startAnimation()" (@appear.done)="endAnimation()"> Average conversion by: Query / Click / Filter
  <nb-card>
    <nb-card-header>
      <select class="wizard-dropdown col-3 form-control-sm" [(ngModel)]="timeRangeLineChartConversion">
        <option *ngFor="let timeRange of timeRanges">{{timeRange}}</option>
      </select>
    </nb-card-header>
    <nb-card-body>
        <app-line-chart [lineChartData]=lineChartConversion[timeRangeLineChartConversion]> </app-line-chart>
    </nb-card-body>
  </nb-card>
</div>

<!-- KPIS -->

<div class="page-sub-title" *ngIf="time > 8" [@appear]="state" (@appear.start)="startAnimation()" (@appear.done)="endAnimation()"> KPIs
  <nb-card>
    <nb-card-body>
      <select class="wizard-dropdown col-3 form-control-sm" [(ngModel)]="timeRangeKpis">
        <option *ngFor="let timeRange of timeRanges">{{timeRange}}</option>
      </select>
      <div *ngFor="let j of [0,1]" class="d-flex col-12">
        <div *ngFor="let i of [0,1,2]" class="col-3 kpis-data d-flex">
          <div class="title vertical-centering-absolute"> {{kpis[timeRangeKpis][3*j+i].title}}</div>
          <div countUp class="value vertical-centering-absolute text-right" [endVal]="kpis[timeRangeKpis][3*j+i].value" duration=1> 0 </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>

<!-- PIE CHART -->

<div class="page-sub-title col-12" *ngIf="time > 9" [@appear]="state" (@appear.start)="startAnimation()" (@appear.done)="endAnimation()"> Profile percentage of use
  <nb-card>
    <nb-card-header>
      <select class="wizard-dropdown col-3 form-control-sm" [(ngModel)]="timeRangePieChartData">
        <option *ngFor="let timeRange of timeRanges">{{timeRange}}</option>
      </select>
    </nb-card-header>
    <nb-card-body>
        <!-- <ng-template #pieChart></ng-template> -->
        <app-pie-chart [data]=pieChartData[timeRangePieChartData]> </app-pie-chart>
    </nb-card-body>
  </nb-card>
</div>

<!-- MAP CHART -->

<div class="page-sub-title col-12" *ngIf="time > 10" [@appear]="state" (@appear.start)="startAnimation()" (@appear.done)="endAnimation()"> Profile percentage of use
  <nb-card>
    <nb-card-header>
      <select class="wizard-dropdown col-3 form-control-sm" [(ngModel)]="timeRangeMapChartData">
        <option *ngFor="let timeRange of timeRanges">{{timeRange}}</option>
      </select>
    </nb-card-header>
    <nb-card-body class="map-chart">
        <app-bubble-map [data]=mapChartData[timeRangeMapChartData]> </app-bubble-map>
    </nb-card-body>
  </nb-card>
</div>
