<nb-card>
    <nb-card-header> Line Chart </nb-card-header>
    <nb-card-body>
        <app-line-chart> </app-line-chart>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header> Bar Chart </nb-card-header>
    <nb-card-body>
        <app-bar-chart> </app-bar-chart>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header> Pie Chart </nb-card-header>
    <nb-card-body>
        <app-pie-chart> </app-pie-chart>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-header> Map Chart </nb-card-header>
    <nb-card-body>
        <app-bubble-map> </app-bubble-map>
    </nb-card-body>
</nb-card>