@import "../../../styles.scss";

.site{
  @include Headline-2()
}

.desc{
  @include Subheader-2();
}

.icon{
  height: 200px;
  width: 200px;
  background: url(../../../assets/gufo_occhiolino.svg) center no-repeat;
}
