<div class="wizard-container center col-4">
    <div class="page-sub-title col-12 text-center">
        http://website1.com
    </div>
    <div class="page-title col-12 text-center">
        Accela search is now configured for your website
    </div>
    <div class="page-title col-12 text-center">
        You have now access to the advanced settings and the dashboard,
        where you can monitor your analytics
    </div>
    <button role="button" class="btn ittweb-btn col-12" routerLink="/home/dashboard">DASHBOARD</button>
    <button role="button" class="btn ittweb-back-btn col-12" routerLink="/home/setup/fineTuning">FINE TUNING</button>
</div>