<div class="wizard-container center col-4">
    <div class="icon center" style="position: relative !important" > </div>
    <div class="page-sub-title col-12 text-center site">
        {{wizardWebsite}}
    </div>
    <div class="page-title col-12 text-center desc">
        Accela search is now configured for your website
    </div>
    <div class="page-title col-12 text-center desc mt-5 mb-5">
        You have now access to the advanced settings and the dashboard,
        where you can monitor your analytics
    </div>
    <button role="button" class="btn ittweb-btn col-12" (click)="navigate('dashboard')" routerLink="/home/dashboard">DASHBOARD</button>
    <button role="button" class="btn ittweb-negative-btn col-12 mt-3" (click)="navigate('fineTuning')" routerLink="/home/setup/fineTuning">FINE TUNING</button>
</div>
