<div class="wizard-container" [@slide]='state' (@slide.done)="navigate($event)">
  <div class="page-title col-12 text-center">
    Choose a website to start the wizard
  </div>
  <div class="page-sub-title"> Website </div>
  <select [(ngModel)]="siteValue" class="col-12 form-control" (change)=onChange(siteValue)>
    <option *ngFor="let site of sites"> {{ site }} </option>
  </select>
  <div *ngIf="siteValue">
    <div class="page-sub-title"> Do you want to import the setup from another website? </div>

    <!--<div class="d-flex">-->
    <mat-radio-group [(ngModel)]="import">
      <mat-radio-button name="import" value="N"> No </mat-radio-button>
      <mat-radio-button name="import" value="Y"> Yes </mat-radio-button>
    </mat-radio-group>
    <!--</div>-->
    <div *ngIf="import=='Y'">
        <select [(ngModel)]="importSiteValue" class="col-12 form-control">
          <option *ngFor="let siteFiltred of sitesFiltred"> {{ siteFiltred }} </option>
        </select>
    </div>
  </div>
  <div>
    <!--<button role="button" class="btn ittweb-back-btn" (click)="slideOutRight()">BACK</button>-->
    <button role="button" class="btn ittweb-btn next" [disabled]="!siteValue || (!importSiteValue && import != 'N')" (click)="slideOutLeft()">NEXT</button>
  </div>
</div>
