.ittweb-tabset-setup ul li a{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 17px !important;
    text-align: center !important;
    color: #7d7d87 !important;
}

.ittweb-tabset-setup ul li a::before {
    background: none !important;
}

.ittweb-tabset-setup ul{
    border-bottom: none !important;
}

.ittweb-tabset-setup ul li a:hover {
    color: #4f8fed !important;
    /*font-weight: 800 !important;*/
}

.ittweb-tabset-setup ul li.active a{
    color: #4f8fed !important;
    /*font-weight: 800 !important;*/
}